<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>flowIt - Diffusez vos id&eacute;es</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="lib/css/style.css">
  <link rel="stylesheet" href="lib/css/todos.css">
  

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="lib/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>

  </header>
  <div role="main">    
    <!-- backbone.js : Todo App Interface -->

    <div id="todoapp">

      <div class="title">
        <h1>Flow It !</h1>
      </div>

      <div class="content">

        <div id="create-todo">
          <textarea id="new-todo" placeholder="Your idea" type="text" /></textarea>
          <!--<span class="ui-tooltip-top" style="display:none;">Press Flow to add a new flow</span>-->
          <input type="button" class="flow" value=" Flow "></input>
        </div>

        <div id="todos">
          <ul id="todo-list" class="writer"></ul>
        </div>

        <div id="todo-stats"></div>

      </div>

    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div>
        <div class="display">
          <input class="check" type="checkbox" <%= flow ? 'checked="checked"' : '' %> />
          <span class="focus"></span>
          <span class="todo-destroy"></span>
          <div class="todo-text"></div>
          <input type="button" class="reflow" value=" (re)Flow "></input>
        </div>
        <div class="edit">
          <textarea class="todo-input" type="text" value=""></textarea>
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'flow is' : 'flows are' %></span> out.
        </span>
        <span class="todo-print">
          <a href="#">
            Print all
          </a>
        </span>
      <% } %>
      <!--
      <% if (flow) { %>
        <span class="todo-clear">
          <a href="">
            Clear <span class="number-done"><%= flow %></span>
            <span class="word-done"><%= flow == 1 ? 'flow' : 'flows' %></span>
          </a>
        </span>
      <% } %>
      -->
    </script>
  
  </div>
  <footer>

  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="lib/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="lib/js/plugins.js"></script>
  <script src="lib/js/script.js"></script>
  <!-- end scripts -->

  <!-- Node.js scripts-->
  <script src="nowjs/now.js"></script>
  
  <!-- backbone.js scripts-->
  <script src="lib/js/libs/json2.js"></script>
  <script src="lib/js/libs/underscore-1.3.1.js"></script>
  <script src="lib/js/libs/backbone.js"></script>
  <script src="lib/js/libs/backbone-localstorage.js"></script>
  <script src="lib/js/libs/todos.js"></script>

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>